<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">

    <title>Portfolio</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <nav>
            <a href="{% url 'tecnologias' %}">tecnologias</a>
            <a href="{% url 'projetos' %}">projetos</a>
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>