{% extends "portfolio/base.html" %}
    
{% block content %}
<h2>formações</h2>

<section>
    {% for formacao in formacoes %}
    <article>
        <header>
            <h3>{{ formacao.nome }}</h3>
            <p><a href="{{ formacao.link }}">{{ formacao.link }}</a></p>
            {% for tecnologia in formacao.tecnologias.all %}
                <p>{{ tecnologia.nome }}</p> 
            {% endfor %}
        </header>

        <section>
            <p>
                {{ formacao.descricao }}
            </p>
            <a href="{% url 'edita_formacao' formacao.id %}">
                <button>Editar informação da Formação</button>
            </a>
            <a href="{% url 'apaga_formacao' formacao.id %}">
                <button>Apagar Formação</button>
            </a>
        </section>
    </article>
    {% endfor %}
    <a href="{% url 'novo_formacao' %}">
        <button>Inserir nova Formação</button>
    </a>
</section>
{% endblock %}